:root {
    --blog-green: #4BB92F;
    --blog-orange: #ff8700;
    --blog-blue: #0078ff;
    --blog-violet: #8d00ff;
}

a {
    color: #212631;

    &:hover, &:focus {
        color: inherit;
        text-decoration: underline;
        outline: none;
    }
}