.LoadMoreBtn {
    width: 100%;
    text-align: center;

    button {
        padding: 9px 45px;
        border: none;
        background-color: #212631;
        font-weight: 600;
        text-transform: uppercase;
        color: #fff;
        transition: 0.2s opacity;
        font-size: 0.813em;
        border-radius: 0;

        &:hover {
            opacity: 0.9;
        }
    }
}